{% extends "layout.html" %}
            
{% block content %}
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">Train Page for Sentiment Analysis</h3>
                        {% with messages = get_flashed_messages(with_categories = True) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{category}}">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">All Variations</li>
                        </ol>
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                





                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">

                    
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">All Variations</h4>
                                <h6 class="card-subtitle">View All Variations. </h6>
                                

                                {{ to_df.to_html(classes="display nowrap table table-hover table-striped table-bordered dataTable") | safe}}


                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->

















































               


                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
           


{% endblock %}