{% extends "layout.html" %}
            
{% block content %}
<div id="pageloader">
   <img src="{{url_for('static', filename='assets/images/preloader2.gif')}}" alt="processing..." />
   <!--<img src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="processing..." />-->
</div>
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">Train Page for Sentiment Analysis</h3>
                        {% with messages = get_flashed_messages(with_categories = True) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{category}}">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Train</li>
                        </ol>
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                





                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">

                    
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Train</h4>
                                <h6 class="card-subtitle">Upload a csv file with two columns ('Text', 'Class'), and get your trained model </h6>
                                <form id="searchForm" class="dropzon" method="POST" action=" {{url_for('analyse.results_dareja')}} " enctype="multipart/form-data">
                                    {{polarity_value}}
                                    <p>Please choose Comments column (that will serve for the training)
                                    <select>
                                        {% for col in cols: %}
                                        <option value="{{col}}">{{col}}</option>
                                        {% endfor %}
                                    </select>
                                    </p>
                                    {{count_column}}

                                    <p>Please choose Polarity column (that will serve for the training)
                                    <select>
                                        {% for col in cols: %}
                                        <option value="{{col}}">{{col}}</option>
                                        {% endfor %}
                                    </select>
                                    </p>

                                    <p>Please choose Positive class code for polarity
                                    <select>
                                        {% for polarity_value in polarity_values: %}
                                        <option value="{{polarity_value}}">{{polarity_value}}</option>
                                        {% endfor %}
                                    </select>
                                    </p>

                                    <p>Please choose Negative class code for polarity
                                    <select>
                                        {% for polarity_value in polarity_values: %}
                                        <option value="{{polarity_value}}">{{polarity_value}}</option>
                                        {% endfor %}
                                    </select>
                                    </p>

                                    <input type="submit" class="btn rounded  btn-success" value="Upload & Train">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->

















































               


                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
      {% block scripts %}     
<script>
    jQuery("#searchForm").on("submit", function(){
        jQuery("#pageloader").fadeIn();
      });//submit
         
    </script>
    {% endblock %}

{% endblock %}