{% extends "layout.html" %}
            
{% block content %}
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">Train Page for Sentiment Analysis</h3>
                        {% with messages = get_flashed_messages(with_categories = True) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{category}}">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Train</li>
                        </ol>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>THIS MONTH</small></h6>
                                    <h4 class="m-t-0 text-info">$58,356</h4></div>
                                <div class="spark-chart">
                                    <div id="monthchart"></div>
                                </div>
                            </div>
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>LAST MONTH</small></h6>
                                    <h4 class="m-t-0 text-primary">$48,356</h4></div>
                                <div class="spark-chart">
                                    <div id="lastmonthchart"></div>
                                </div>
                            </div>
                            <div class="">
                                <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                





                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">

                    
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{legend}}</h4>
                                <h6 class="card-subtitle">You can modify it later on </h6>
                                <form class="form-horizontal form-material" action="{{url_for('posts.new_variation')}}" method="POST">
                                {{ form.hidden_tag() }}
                                  

                                {% with messages = get_flashed_messages(with_categories = True) %}
                                  {% if messages %}
                                      {% for category, message in messages %}
                                          <div class="alert alert-{{category}}">
                                              {{message}}
                                          </div>
                                      {% endfor %}
                                  {% endif %}
                              {% endwith %}
                                
                                <div class="form-group m-t-40">
                                  <div class="col-xs-12">

                                    {% if form.word.errors %}
                                      {{ form.word(class="form-control is-invalid", placeholder="Title") }}
                                      <div class="invalid-feedback">
                                        {% for error in form.word.errors %}
                                          <span>{{error}} </span>
                                        {% endfor %}
                                      </div>
                                    {% else %}
                                      {{ form.word(class="form-control", placeholder="Word") }}
                                    {% endif %}


                                  </div>
                                </div>



                                <div class="form-group m-t-40">
                                  <div class="col-xs-12">

                                    {% if form.word_latin.errors %}
                                      {{ form.word_latin(class="form-control is-invalid", placeholder="Word Latin") }}
                                      <div class="invalid-feedback">
                                        {% for error in form.word_latin.errors %}
                                          <span>{{error}} </span>
                                        {% endfor %}
                                      </div>
                                    {% else %}
                                      {{ form.word_latin(class="form-control", placeholder="Word Latin") }}
                                    {% endif %}


                                  </div>
                                </div>


                                <div class="form-group m-t-40">
                                  <div class="col-xs-12">

                                    {% if form.variations.errors %}
                                      {{ form.variations(class="form-control is-invalid", placeholder="Variations") }}
                                      <div class="invalid-feedback">
                                        {% for error in form.variations.errors %}
                                          <span>{{error}} </span>
                                        {% endfor %}
                                      </div>
                                    {% else %}
                                      {{ form.variations(class="form-control", placeholder="Variations") }}
                                    {% endif %}


                                  </div>
                                </div>

                                
                                <div class="form-group text-center m-t-20">
                                  <div class="col-xs-12">
                                    {{ form.submit(class="btn btn-outline-info") }}
                                    
                                  </div>
                                </div>
                                
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->

















































               


                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
           


{% endblock %}