{% extends "layout-home.html" %}
                

{% block content %}

    <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="fix-width">
                    <div class="row banner-text">
                        <div class="col-lg-4 m-t-20">
                            <h1>The Most Beautiful &amp; Powerful <span class="text-info">NFT</span> Toolkit</h1> 
                            <p class="subtext"><span class="font-medium">In a world where we generate 2.5 quintillion bytes of<br> transactions every day, SMART NFTY has become a key tool for making <br>good NFT purchases.</p>
                            <div class="down-btn"> <a href="#" class="btn btn-info m-b-10">Register</a> <a href="#" class="btn btn-success m-b-10">Know More</a> </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="hero-banner"> <img src="{{ url_for('static', filename='assets/images/landing/graph-wall2.jpg') }}" alt="IMMAR SENTIMENT ANALYSIS" /> </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Featured Section -->
                <!-- ============================================================== -->
                <div class="row light-blue">
                    <div class="col-md-12" id="demos">
                        <div class="text-center">
                            <h2 class="display-7">Powerful Tools for your NFT purchases</h2>
                            
                        </div>
                        <div class="max-width">
                            <div class="row text-center">
                                <div class="col-md-4 m-t-40">
                                    <div class="image-box"> <img src="{{ url_for('static', filename='assets/images/landing/img6.png') }}" alt="demo1" class="img-responsive" />
                                        <div class="image-overly"> <a class="btn btn-rounded btn-info" href="#" target="_blank">Live Preview</a> </div>
                                    </div>
                                    <h5 class="p-20">Machine Learning</h5> </div>
                                <div class="col-md-4 m-t-40">
                                    <div class="image-box"> <img src="{{ url_for('static', filename='assets/images/landing/img5.jpg') }}" alt="demo2" class="img-responsive" />
                                        <div class="image-overly"> <a class="btn btn-rounded btn-info" href="#" target="_blank">Live Preview</a> </div>
                                    </div>
                                    <h5 class="p-20">Interactive Dashboards</h5> </div>
                                <div class="col-md-4 m-t-40">
                                    <div class="image-box"> <img src="{{ url_for('static', filename='assets/images/landing/img2.png') }}" alt="demo3" class="img-responsive" />
                                        <div class="image-overly"> <a class="btn btn-info" href="#" target="_blank">Live Preview</a> </div>
                                    </div>
                                    <h5 class="p-20">Cruptocurrency</h5> </div>
                                <div class="col-md-4 m-t-40">
                                    <div class="image-box"> <img src="{{ url_for('static', filename='assets/images/landing/material-demo4.jpg') }}" alt="demo4" class="img-responsive" />
                                        <div class="image-overly"> <a class="btn btn-info" href="#" target="_blank">Live Preview</a> </div>
                                    </div>
                                    <h5 class="p-20">NFT</h5> </div>
                                <div class="col-md-4 m-t-40">
                                    <div class="image-box"> <img src="{{ url_for('static', filename='assets/images/landing/scrap1.png') }}" alt="demo5" class="img-responsive" />
                                        <div class="image-overly"> <a class="btn btn-rounded btn-info" href="#" target="_blank">Live Preview</a> </div>
                                    </div>
                                    <h5 class="p-20">Mints</h5> </div>
                                <div class="col-md-4 m-t-40">
                                <div class="image-box"> <img src="{{ url_for('static', filename='assets/images/landing/img3.jpg') }}" alt="demo6" class="img-responsive" />
                                    <div class="image-overly"> <a class="btn btn-rounded btn-info" href="https://wrappixel.com/demos/admin-templates/material-pro/materialpro-angular/" target="_blank">Live Preview</a> </div>
                                </div>
                                <h5 class="p-20">Block Chain</h5> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
           
                <!-- Call to action bar -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 call-to-action bg-success">
                        <div class="fix-width">
                            <div class="row">
                                <div class="col-md-6 m-t-20 m-b-20"><span>Are you Satisfied with what we Offer?</span></div>
                                <div class="col-md-6 align-self-center text-right"><a href="#" target="_blank" class="btn btn-outline btn-rounded btn-default buy-btn m-t-10 m-b-10">Join Us Today </a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
            


{% endblock %}


{% block scripts %}
  
{% endblock scripts %}