{% extends "layout-login.html" %}
{% block content %}
    
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register login-sidebar"  style="background-image:url({{url_for('static', filename='assets/images/background/login-register.jpg')}});">
  <div class="login-box card">
    <div class="card-body">

      <form class="form-horizontal form-material" id="loginform" action="{{ url_for('users.login', next=request.args.get('next')) }}" method="POST">
        {{ form.hidden_tag() }}

        <a href="javascript:void(0)" class="text-center db"><img src="{{ url_for('static', filename='assets/images/logo-icon.png') }}" alt="Home" /><br/><img src="{{ url_for('static', filename='assets/images/logo-text.png') }}" alt="Home" /></a>  

        {% with messages = get_flashed_messages(with_categories = True) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{category}}">
                      {{message}}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
        
        <div class="form-group m-t-40">
          <div class="col-xs-12">

            {% if form.email.errors %}
              {{ form.email(class="form-control is-invalid", placeholder="Username") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span>{{error}} </span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.email(class="form-control", placeholder="Email") }}
            {% endif %}


          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            {% if form.password.errors %}
              {{ form.password(class="form-control is-invalid", placeholder="Mot de passe") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{error}} </span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="form-control", placeholder="Mot de passe") }}
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">

              {{ form.remember(class="form-check-input",  id="checkbox-signup") }}
              {{ form.remember.label(class="form-check-label", for="checkbox-signup") }}
            </div>
            <a href="{{url_for('users.reset_request')}}" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i>pwd oublié?</a> </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
            
          </div>
        </div>
        <div class="row">

        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p><small>Vous n'avez pas un compte? <a href="{{url_for('users.register')}}" class="text-primary m-l-5"><b>Contactez Nous</b></a></small></p>
          </div>
        </div>
      </form>
      <form class="form-horizontal" id="recoverform" action="index.html">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recover Password</h3>
            <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Email">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

{% endblock %}