{% extends "layout.html" %}
            
{% block content %}

<div id="pageloader">
   <img src="{{url_for('static', filename='assets/images/preloader2.gif')}}" alt="processing..." />
   <!--<img src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="processing..." />-->
</div>
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">

                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">Recherche Facebook  </h3>
                        {% with messages = get_flashed_messages(with_categories = True) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{category}}">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Analyse</li>
                            <li class="breadcrumb-item active">Recherche</li>
                        </ol>
                        
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
            



                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">

                    
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="searchForm" method="post" action="{{url_for('analyse.search_results')}}">
                                <h4 class="card-title">Recherche Facebook</h4>
                                
                                <div class="row">

                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="m-t-10">Profile</label>
                                            <input type="text" class="form-control" id="commenter" name="commenter" placeholder="By Name">
                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="m-t-10">Commentaire</label>
                                            <input type="text" class="form-control" id="comment" name="comment" placeholder="enter a keyword">
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-2">
                                        <label class="m-t-10">Operator</label>
                                        <select class="selectpicker m-b-20 m-r-10" id="operator" name="operator" data-style="btn-info btn-outline-info">
                                            <option data-tokens="ketchup mustard" value="5">Ooredoo</option>
                                            <option data-tokens="mustard" value="6">Djezzy</option>
                                            <option data-tokens="frosting" value="7">Mobilis</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-sm-2">
                                        <label class="m-t-10">Debut</label>
                                        <input type="text" class="form-control" placeholder="2019-06-04" value="2016-10-01" id="startdate" name="startdate">
                                    </div>

                                    <div class="col-sm-2">
                                        <label class="m-t-10">Fin</label>
                                        <input type="text" class="form-control" placeholder="2019-06-04" value="2019-08-30" id="enddate" name="enddate">
                                    </div>

                                    <div class="col-sm-2">
                                        <label class="m-t-10">Modele</label>
                                        <select class="selectpicker m-b-20 m-r-10" id="model" name="model" data-style="btn-info btn-outline-info">
                                            {% for model in models %}
                                            <option data-tokens="{{model}}" value="{{model}}">{{model}}</option>
                                            
                                            {% endfor %}
                                        </select>
                                    </div>
                                    
                                    <div class="col-sm-2">
                                        <label class="m-t-10">Ready !</label><br>
                                        <button type="submit" class="btn waves-effect waves-light btn-rounded btn-primary">Recherche</button>
                                    </div>
                                </div>  
                                </form>  
                                    <!--Your Search Query has:
                                    <p>Commenter name has keyword: <b>{{commenter}}</b></p>
                                    <p>Comment has keyword: <b>{{comment}}</b></p>
                                    <p>Start Date: <b>{{startdatte}}</b></p>
                                    <p>End Date: <b>{{enddate}}</b></p>
                                    <p>Operator: <b>{{operator}}</b></p>-->
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>

                    
                  

                    



                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->

















































               


                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
           {% block scripts %}



    <script>
    
    // MAterial Date picker    
    jQuery('#startdate').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
    jQuery('#enddate').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
    jQuery(".searchForm").on("submit", function(){
        jQuery("#pageloader").fadeIn();
      });//submit
    jQuery(window).bind("pageshow", function(event) {
        jQuery("#pageloader").hide();
      });
         
    </script>

           {% endblock %}
{% endblock %}